<div class="mybox">
  <h3>
    파티원 명단
  </h3>
  <br>

  <% if @party.users.length > 0 %>
      <% @party.users.each do |user| %>
          <p>
          <h4>
            <a href="<%= user_path(user) %>">
              <%= gravatar_for user, size: 48 %>
              <%= user.name %>
            </a>
          </h4>
          </p>
      <% end %>
  <% else %>
      <p>참여중인 파티원이 없습니다.</p>
  <% end %>
</div>
