<% provide(:title, 'About Us') %>
<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">About</h1>

    <p>
      파티모집 서비스<br>
      사회에서의 수동적이고 소극적, 번거로운 모임 형성 과정에서 벗어나,<br>
      게임과 같은 능동적이고 적극적인 간편한 파티 형성을 추구한 서비스입니다.
    </p>

  </div>
</div>
<div class="container">
  <%= link_to "Back", :back, class: "btn btn-default", role: "button" %>

</div>