<% provide(:title, 'Home') %>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Party Recruit!</h1>

    <p>
      파티모집 서비스에 오신 것을 환영합니다. <br>
      손쉽게 원하는 파티를 모집하거나, 원하는 파티를 찾아 가입 해 보세요!
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg", role: "button" %>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>About</h2>

      <p>사회에서의 수동적이고 소극적, 번거로운 모임 형성 과정에서 벗어나,
        게임과 같은 능동적이고 적극적인 간편한 파티 형성을 추구한 신개념 소셜 그룹 매칭 서비스입니다.
      <p><%= link_to "About", about_path, class: "btn btn-default", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>Help</h2>

      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec
        sed odio dui. </p>

      <p><%= link_to "Help", help_path, class: "btn btn-default", role: "button" %></p>
    </div>
    <div class="col-md-4">
      <h2>Contact</h2>

      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec
        sed odio dui. </p>

      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
