<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<br>

<div class="container">
  <%= render 'form' %>
</div>

<div class="container ">
  <p>
    <%= link_to 'Back', :back, class: "btn btn-default", role: "button" %>
  </p>
</div>