<% provide(:title, 'Sign up') %>
<div class="container">
  <h1 style="text-align: center; margin-bottom: 30px">Sign Up</h1>
  <%= render 'form' %>

</div>

<div class="container ">
  <p>
    <%= link_to 'Back', :back, class: "btn btn-default", role: "button" %>
  </p>
</div>