<div class="mybox">
  <h3>
    내 파티
  </h3>
  <br>

  <% if current_user.parties.length > 0 %>
      <ul>
        <% current_user.parties.each do |party| %>
            <li><%= link_to party.name, party %></li>
        <% end %>
      </ul>
  <% else %>
      <p>참여중인 파티가 없습니다.</p>
  <% end %>
</div>
