<div class="mybox">
  <style type="text/css">
      ul { margin-top: 20px; padding-left: 1em !important; }
  </style>
  <h3>
    파티 목록
  </h3>

  <% if current_user.parties.length > 0 %>
      <ul>
        <% current_user.parties.each do |party| %>
            <li><%= link_to party.name, party %></li>
        <% end %>
      </ul>
  <% else %>
      <p>참여중인 파티가 없습니다.</p>
  <% end %>
</div>
