//@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #aaa;
  text-decoration: none;
}

/* miscellaneous */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.formarea {
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  color: inherit;
  background-color: $grayMediumLight
}

.formarea input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  border-radius: 4px;
  width: 100%;
  height: 40px !important;
  padding: 5px;
  @include box_sizing;
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.alert {
   display: block;
   padding: 9.5px;
   margin: 10px 0 10px;
   font-size: 13px;
   line-height: 1.42857143;
   word-break: break-all;
   word-wrap: break-word;
   border-radius: 4px;
 }


aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #dddddd;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mybox {
  @include box_sizing;
  display: block;
  padding: 4px 20px 4px 20px;
  margin-bottom: 20px;
  line-height: 1.4285;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  height: 100%;
}